.modal, .modal .blocker {
  cursor: default; }

.profile.modal {
  direction: rtl;
  padding: 12px; }
  .profile.modal .innerWrap {
    padding: 18px; }
  .profile.modal .close {
    float: left;
    color: #9f9f9f; }
    .profile.modal .close:hover {
      color: #9f3d45; }

#content {
  width: 100%;
  height: 100%;
  visibility: none; }

#loading {
  position: absolute;
  top: 500px;
  width: 350px;
  height: 180px;
  border-style: solid;
  border: 1px black;
  color: white; }

#progress_background {
  width: 80%;
  border-style: solid;
  border-color: black;
  border-width: 1px; }

#progress {
  width: 80%;
  border-style: solid;
  border-color: black;
  border-width: 1px; }
