# Includes
images/
**/jquery.modal.min.js
**/jquery.modal.css
**/mousewheel.js

# NPM Files
/node_modules
npm-debug.log

# Generated via Grunt
/index.html
/local.html

# Webstorm Files
/.idea

# Sass
/.sass-cache

# Minified Versions
style.min.css
polimap.min.js